body {
  background-color: #FFEE99;
  margin-top: 20px;
  font-family: 'Gloria Hallelujah', serif;
}

h1 {
  color: #CC0000;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 80px;
  font-weight: normal;
  line-height: 80px;
  margin: 0;
  text-align: center;
  text-shadow: 1px 1px 2px #999999;
}

.info {
  color: #660000;
  font-family: 'Gloria Hallelujah', serif;
  font-size: 14px;
  line-height: 32px;
  margin: 0;
  text-align: center;
}

p {
  color: #CC0000;
  font-family: 'Gloria Hallelujah', serif;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 24px;
  text-align: center;
}

a {
  color: #CC0000;
  text-decoration: none;
}

a:hover {
  color: #CC0000;
  text-decoration: underline;
}

.guessing{
  margin: 80px 0 0 0;
  font-family: 'Gloria Hallelujah', cursive;
  color: #CC0000;
  font-size: 30px;
}

label {
  font-family: 'Gloria Hallelujah', cursive;
  color: #CC0000;
}

input[type=text], select {
    width: 50px;
    padding: 0px 10px;
    margin: 8px 0;
    display: inline;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Gloria Hallelujah', serif;
    font-size: 30px;
}

input[type=submit] {
    width: 70px;
    background-color: #CC0000;
    color: white;
    padding: 1px 0;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Gloria Hallelujah', serif;
    font-size: 30px;
}

input[type=submit]:hover {
    background-color: #990000;
}

div {
    width: 400px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 20px;
}
